/*
Styles For Main Page goes here
*/
.main{
    height: 100%;
}
/*navbar container*/
.nav-container{
    background-color: #000059;
}
/*override default link color in navbars*/
.navbar-nav > li > a{
    color: #fff !important;
}
/*override default nav link hover and visited background*/
.navbar-nav > li > a:hover,
.navbar-nav > li > a:visited{
    background-color: #7C7D75 !important;
}

/*header containing title*/
.header{
    margin: 0;
    text-align: center;
}
.header h1{
    display: inline;
    padding: 0 1em;
    vertical-align: middle;
}
.header img{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
/*main navigation*/

/*change default color of menu button which shows on mobile*/
.navbar-header .navbar-toggle{
    border-color: #fff;
}
.navbar-header .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-header .navbar-toggle:hover .icon-bar,
 .navbar-header .navbar-toggle:focus .icon-bar{
    background-color: #000059;
}
/*fixed: last dropdown-menu in main nav overflows if screen is not wide enough(not in mobiles)*/
.main-nav li:last-child .dropdown-menu{
    left: auto; 
    right: 0;
}
/*overrides in smaller screens*/
@media only screen and (max-width: 768px){
    .header h1{
        padding: 0;
    }
    .dropdown-menu a:hover{
        color: #fff !important;
    }
} 