body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#header{
    width:100%;  
    height::;px;
    background-color: #ffffff;
    position:fixed;
}

#nav ul{
   float: right;
   margin-right:50px;
}

 #nav ul li {
   list-style: none; 
    display: inline;
}

 #nav li a{
    text-decoration: none;
    padding-left:5px;
    padding-right: 15px;
    float: left;
    color:#777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}   
   
 #header li a:hover {
    color:#000;
    
}


#logo {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-left:40px;
    color:#d69c7c;
    width:80px;
  
  }

#logo:hover {
        cursor: pointer;
        opacity: 0.75;
}

#header_below{
    background: url('../images/light_bulb.jpg');
    background-size: initial;
	color: white;
    padding-top:50px;
    padding-left:50px; 
    padding-bottom:40px;   
    width:100%;
  
}

.button-engage{
    background-color: #ffa500;
    width:100px;
    border-radius: 10px;
    margin-left:10px;
    padding:8px 15px 8px 18px;
}

.button-engage a{
    text-decoration:none;
    color:#fff;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}  

.button-engage:hover{
    background-color: #e19a18;  
    cursor: pointer;
}



#header_below h1{
       font-size: 70px;
       
}

.hf{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bp{
    margin-left: 20px;
    margin-top: -20px;
}

.bpp{
    margin-left: 20px;
}

#squality {
    width:90%;
    text-align: center;
    margin-left: 30px;
}

#squality h1 {
    color: #ffa500; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#squality p{
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 100%;
    
}

#squality img{
    border-radius: 50%;
}

#images {
    padding-top:120px;
   
}
#images span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:#fff;
}

.mbeans {
    background: url("../images/mung_beans.jpg");
    padding:8% 10.5% 8% 10.5%;
    background-size:100%;
 }

.beans {
    background: url("../images/coffee_beans_1.jpg");
    padding:8% 10.5% 8% 10.5%;    
    background-size: 100%;
 }

span.grapes {
    background: url("../images/grapes.jpg");
    padding:8% 10% 8% 10%;
    background-size: 100%;
  
}
.promo {
    border-top-style: solid;
	border-bottom-style: solid;
    border-width: 1px;
	border-color: black;
}
#images span:hover{
    background-size: 105%;
    border:3px #000 solid;
   
}

.cart-items{
    margin-top:130px
}

.cart-items h1 {
    color: #ffa500; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


#cart {
    width:100%;
    
}

.cart1{
    width:22%;
    border: 1px solid lightgrey;
    margin-left: 20px;
    border-radius:10px;
    display: inline-block;
}

.cart1 img{
    margin-top: 10px;
    margin-left:10px;
}

.cart1 h2 {
    color:#ffa500;
    margin-left:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.pn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:10px;
    font-size:13px;
    margin-right: 5px;
}

.cart1 s{
    color:lightgrey;
}

.cart1 input{
    width:50%;
    margin-left:10px;
    margin-bottom:20px;
    height:25px;
    
}


.cart1 a{
    text-decoration: none;
    color:#fff;
}

.cart1 span{
    background-color: #ffa500;
    padding:8px;
    border-radius: 5px;
}


.cart1 span:hover{
    background-color: #e19a18;  
    cursor: pointer;
}

#findus { text-align: center;  }

#findus h1{
     color: #ffa500; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#findus h2{
     color: lightgrey; 
    font-family:  sans-serif;
}

#findus img{
    width:1270px;
    height:300px;
    
}



#contactus { text-align: center;  }

#contactus h1{
     color: #ffa500; 
    font-family:  sans-serif;
    margin-top:50px;
    font-size:26px;
}

#contactus h3{
     color: grey; 
    font-family:  sans-serif;
    font-size:20px;
}


#footer-top {
    background-color: #f2f2f2;
    padding:10px;
    
}

#information { display: inline-block;}
#information h3{
    color:#000;
    margin-left:40px;
}

 #information ol li {
   list-style: none; 
 
}

#information li a{
    text-decoration: none;
    color:#777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}   

#information li a:hover{
    text-decoration: underline;
}


#maccount { display: inline-block; margin-left:250px;}
#maccount h3{
    color:#000;
    margin-left:40px;
}

 #maccount ol li {
   list-style: none; 
 
}

#maccount li a{
    text-decoration: none;
    color:#777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}   

#maccount li a:hover{
    text-decoration: underline;
}


#nletter { display: inline-block; margin-left:300px; }



#nletter input{
    width:55%;
    height:25px;
    border-radius:5px;
    
}

#nletter span.snow{
    background-color: #ffa500;
    padding:8px;
    border-radius: 5px;
}

#nletter span.snow:hover{
    background-color: #e19a18;  
    cursor: pointer;
}

#nletter p{
    color:grey;
    font-family:  sans-serif;
    font-size: 15px;
    width: 100%;
    
}

#nletter a{
    text-decoration: none;
    color:#fff;
}


#footer-bottom{ text-align: center; margin-top:20px; }

#footer-bottom a{
    text-decoration: none;
    color:#ffa500;
    font-size: 17px;
}

span.end {
    color:grey;
    font-family: sans-serif;
}















/* Writing Media Queries */ 

@media screen and (max-width: 480px) {
    
    #images span{ display: block; }
    
    #header{ width:100%;  }
    
    #images { padding-top:0px; }
    
    #cart { display: block; }
    
    .cart1 { width: 57%; margin-left: 80px; margin-top:20px; }
    
    #header ul li { display: block; }
    
    #header_below { width:90%; padding-top:140px; }
    
    #header_below h1{ font-size: 40px; }
    
    #findus img{ width:480px;  height:300px; margin-left:20px; }
    
    #squality img{ width:80%; }
    
    #nletter {  padding:10px; display: block; margin-left:10px; }
    
    #maccount {  padding:10px; display: block; margin-left:0px; }
    
    #information {  padding:10px; display: block; margin-left:10px; }
    
}


@media screen and (max-width: 1400px) {
    
    #header ul li { margin-right:10px }
    
    .cart1 { margin-left: 20px; margin-top:20px; }
    
}


@media screen and (max-width: 1366px) {
    
    #header ul li { margin-right:10px }
    
    .cart1 { margin-left: 20px; margin-top:20px; }
    
   #findus img{ width:1366px;  }
   
   span.grapes { padding:8% 12% 8% 12%; }
  
  

   
}